#imageCont {
    flex: 1;
    margin: 0.25rem;

    border: var(--bevel-size);
    border-color: var(--inset);
    border-style: solid;

    background-color: white;

    overflow: scroll;
}
#imageCont img {
    left: 0;
    top: 0;

    width: 40rem;
}

#imgZoom {
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 0;
}
#imgZoom span {
    width: 3rem;
    height: 1.2rem;

    border: var(--bevel-size);
    border-color: var(--inset);
    border-style: solid;

    text-align: center;
    font-size: 1.1rem;
}