#textBox {
    flex: 1;
    margin: 0.25rem;

    border: var(--bevel-size);
    border-color: var(--inset);
    border-style: solid;

    background-color: white;

    overflow: scroll;
}

#textBox h1 {
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    text-align: center;
    font-weight: 900;
}

#textBox p {
    margin: 0.5rem;
}